body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 360px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 1em;
  background: #333;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  text-align: end;
  height: 100px;
  margin: 10px;
  background: #BFBFBF;
}

.display > span,
.display-history > span {
  margin-right: 15px;
  font-size: 1.2rem;
}

.display-history {
  position: absolute;
  top: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "backspace backspace clear multi"
  "seven eight nine divide"
  "four five six subt"
  "one two three ad"
  "zero comma equals equals"
  ;
  gap: 3px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 10px;
}

.digit {
  background: #ededed;
  padding: .7em 1.5em;
  transition: all .1s;
}

.zero {
  grid-area: zero;
}

.one {
 grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.equals {
  text-align: center;
  grid-area: equals;
  background: #808080;
}

.ad {
  grid-area: ad;
}

.subt {
  grid-area: subt;
}

.multi {
  grid-area: multi;
}

.divide {
  grid-area: divide;
}

.backspace {
  text-align: center;
  grid-area: backspace;
}

.comma {
  grid-area: comma;
}

.clear {
  grid-area: clear;
}

.active { background-color: #3333;}